<nb-card>
    <nb-card-header>Challenges selector</nb-card-header>
    <nb-card-body *ngIf="items">
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td><label class="label">ID</label></td>
                    <td><label class="label">Name</label></td>
                    <td><label class="label">Rarity</label></td>
                    <td><label class="label">Picture</label></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows">
                    <td>
                        <nb-checkbox (change)="FieldsChange(row.item, $event)" value={{row.checked}}
                            status="basic"></nb-checkbox>
                    </td>
                    <td><input nbInput fullWidth type="text" disabled name="itemId"
                            value={{row.item.itemId}}></td>
                    <td><input nbInput fullWidth type="text" name="name" value={{row.item.name}}>
                    </td>
                    <td><input nbInput fullWidth type="text" name="rarity" value={{row.item.rarity}}>
                    </td>
                    <td><input nbInput fullWidth type="text" name="picture"
                            value={{row.item.picture}}>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
    <nb-card-footer>
        <td><button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button></td>
        <td><button nbButton status="success" (click)="submit()">Submit</button></td>
    </nb-card-footer>
</nb-card>