<nb-card>
    <nb-card-header>Polygon editor</nb-card-header>
    <nb-card-body>
        <table>
            <thead>
                <tr>
                    <td><label class="label"></label></td>
                    <td><label class="label">Latitude</label></td>
                    <td><label class="label">Longitude</label></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coordinate of coordinates; index as i">
                    <td><label class="label">Coordinate {{ i + 1}}</label></td>
                    <td><input nbInput fullWidth type="number" name="latitude" value={{coordinate.latitude}}
                            [(ngModel)]="coordinate.latitude"></td>
                    <td><input nbInput fullWidth type="number" name="longitude" value={{coordinate.longitude}}
                            [(ngModel)]="coordinate.longitude"></td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <agm-map [latitude]="lat" [longitude]="lng" [disableDefaultUI]="true" [zoom]="zoom"
            (mapClick)="mapClicked($event)">

            <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window>
                    <strong>{{ m.lat }}, {{ m.lng }}</strong>
                </agm-info-window>

            </agm-marker>

        </agm-map>
    </nb-card-body>
    <nb-card-footer>
        <td><button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button></td>
        <td><button nbButton status="success" (click)="submit()">Submit</button></td>
    </nb-card-footer>
</nb-card>